{{!
}}
{{!
    Lion pix_icon template.

    The purpose of this template is to render a pix_icon.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.
}}
<img {{#attributes}}{{name}}="{{value}}" {{/attributes}}/>
